/* For Head bar */
.title {
    font-size: large;
    text-align: center;
}

.title-button {
    background-color: #FFB84C;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 5px;
}

.title-button :hover {
    background: #003366;
    transition: 0.5s background;
}

mat-toolbar {
    /* background: #004a9f; */
    background: #006866;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.user-icon {
    transform: scale(2);
}

/* For mat menu */
.header-content_profile-card {
    max-width: fill;
    background-color: #006866;
    opacity: 94%;
    z-index: 999;
}

.header-content_profile-image {
    color: white;
}

.header-content_profile-name {
    font-size: 18px;
    font-family: 'open Sans';
    color: yellow;
}

.header-content_profile-content {
    font-size: 15px;
    font-family: 'open Sans';
    color: white;
}

/* For Side Navbar */
mat-sidenav {
    margin: 16px;
    width: 200px;
    background: #006866;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.mat-table-details {
    color: white;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* For Side Nav Content */
.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    overflow: auto;
    background-color: #F0F0F0;
}

