/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-content-title{
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: 	rgb(41, 41, 222);
}